@keyframes mapaglow { 
	0% {text-shadow: 1px 1px 10px #BE7474;} 
	50% {text-shadow: 1px 1px 40px #FFA9A9;} 
	100% {text-shadow: 1px 1px 10px #BE7474;}
}

@-webkit-keyframes mapaglow { 
	0% {text-shadow: 1px 1px 10px #BE7474;} 
	50% {text-shadow: 1px 1px 40px #FFA9A9;} 
	100% {text-shadow: 1px 1px 10px #BE7474;}
}

@keyframes magicglow { 
	0% {text-shadow: 0px 0px 5px #7E4D2A;} 
	50% {text-shadow: 0px 0px 20px #49312E;} 
	100% {text-shadow: 0px 0px 5px #7E4D2A;}
}

@-webkit-keyframes magicglow { 
	0% {text-shadow: 1px 1px 0px #7E4D2A;}
	50% {text-shadow: 0px 0px 20px #49312E;}
	100% {text-shadow: 1px 1px 0px #7E4D2A;}
}
